html{
    background-color: #ececec;
}
img{
    width: 100px;
    border-radius: 10px;
}
p{
    font-size: 30px;

}
h1{
    color: blue;
    font-size: 50px;
}
#logo{
    width: 80px;
}
#r{
    width: 800px;
    border-radius: 20px;
    background-color: #bbbbbb99;
}